@import url('libs/_bootstrap-grid.scss');
@import url('libs/_bootstrap-reboot.scss');
@import url('libs/_slick.scss');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}


// firstscreen
@import url('blocks/_firstscreen.scss');
.firstscreen {
    position: relative;
    height: 100vh;
    &__wallpapers {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        .firstscreen-bg {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    }
    &__wrapper {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__descr {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 64px;
            color: #fff;
            font-weight: 400;
        }
        h2 {
            color: #fff;
            font-size: 28px;
            font-weight: 400;

        }
        .firstscreen__btn {
            background-color: #DD4A2D;
            color: #fff;
            text-decoration: none;
            width: 170px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
            margin-top: 20px;
            align-self: end;
            transition: .2s all linear;
        }
    }
    &__social {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .firstscreen__sociallink {
            transition: .4s all ease;
        }
        
    }
    // dots
    .slick-dots {
        margin: 0;
        padding: 0;
       display: flex;
       list-style-type: none;
       position: absolute;
       bottom: 25px;
       left: 50%;
       transform: translateX(-50%);
       z-index: 1000;
       li {
        margin: 0 5px;
        button  {
            font-size: 0px;
            width: 22px;
            height: 22px;
            border: none;
            border-radius: 100%;
            background-color: #D9D9D9;
            outline: none;
            outline-offset: none;
            transition: .3s all linear;
            &:active {
                transform: scale(0.8);
            }
        }
       }
       li.slick-active {
        button {
            background-color: #8A8A8A;
        }
       }
    }
}
// header
.header {
    &__wrapper {
        display: flex;
        height: 100px;
    }
    &__nav {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__list {
        width: 100%;
        list-style-type: none;
        padding: 0;
        padding-left: 170px;
        padding-right: 50px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        svg {
            width: 176px;
            height: 176px;
        }
    }
    &__link {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 14px;
        &:hover {
            color: #3EA2EE;
        }
        &_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 32px;
            background-color: #DD4A2D;
            color: white;
            border-radius: 24px;
        }
    }
    &_line {
        border-bottom: 2px solid #E9E9E9;
        .header__logo {
            display: none;
        }
    }
}
//workilustr
.workilustr {
    padding: 40px 0;
    h4 {
        display: none;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
//weare
.weare{
    background-color: #E9E9E9;
    &__title {
        font-size: 36px;
        color: #000;
        margin: 0 0 20px 0;
        padding: 0;
    }
    &__line {
        width: 50px;
        background-color: #DD4A2D;
        height: 1px;
        margin: 0 0 20px 0;
    }
    &__text {
        font-size: 14px;
        color: #000;
        padding: 0;
        margin: 0;
        max-width: 500px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
//whywe
.whywe {
    padding: 115px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
    }
    &-item {
        background-color: #E9E9E9;
        padding: 20px;
        min-height: 220px;
        &__title {
            color: #3EA2EE;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 35px;
        }
        &__text {
            font-size: 14px;
            font-weight: 400;
            max-width: 250px;
        }
    }
}
//capabilites
.capabilites {
    &__title {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: black;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    &__wrapper {
        min-height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 230px;
    }
    &__partone {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 450px;

        .capabilites-item {
            display: flex;
            height: 105px;
            &__left {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                background: #E9E9E9;
                height: 104px;
                width: 104px;
                margin-right: 20px;
            }
            &__title {
                font-weight: 700;
                font-size: 24px;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
            }
            &__descr {
                font-size: 14px;
                font-weight: 400;
                max-width: 270px;
            }
        }
    }
    &__parttwo{
        .capabilites-item {
            display: flex;
            height: 105px;
            &__descr {
                font-size: 14px;
                font-weight: 400;
                max-width: 270px;
            }
            &__title {
                font-weight: 700;
                font-size: 24px;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
            }
            &__left {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                background: #E9E9E9;
                height: 104px;
                width: 104px;
            }
            &__right {
                margin-right: 20px;
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 450px;

    }
    &__bg {
        position: absolute;
        width: 550px;
        height: 550px;
        z-index: -2;
        filter: contrast(140%) opacity(60%) saturate(150%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-wallpaper{
        min-height: 475px;
        background: url('../img/capabilites-wallpaper_bg.jpg') center center/ cover no-repeat;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 36px;
            margin-top: 100px;
        }
        &__line {
            width: 50px;
            background-color: #DD4A2D;
            height: 1px;
            margin-top: 20px;
        }
        &__descr {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            text-align: center;
            margin-top: 45px;
        }
        &__btn {
            background-color: #DD4A2D;
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
            transition: .2s all linear;
            width: 170px;
            height: 50px;
            margin-top: 100px;
            font-weight: 700;
            font-size: 24px;
        }
    }
}

// solution
.solution {
    padding: 100px 0 110px 0;
    &-title {
        margin-bottom: 70px;
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text {
            color: #052941;
            font-size: 36px;
            font-weight: 600;
            margin: 0 5px;
            padding: 0;
            height: 40px;

        }
        &__img {
          height: 40px;
          transform: translateY(3px);
        }
        &__start{
            &_back {
                transform: translateY(3px) rotateY(180deg);
            }
        }
    }
    &-offer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 5px;
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 130px;
            background-color: rgba(5, 41, 65, .8);
            &:nth-child(odd) {
                background-color: rgb(221, 74, 45, .8);
            }
            
        }
        &__text {
            padding: 0;
            margin: 0;
            position: relative;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            &:before {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                background-color: #fff;
                border-radius: 100%;
                position: absolute;
                left: -18px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &-bg {
        padding: 50px 0 45px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 350px;
        background: url('../img/solution__bg.jpg') center center/ cover no-repeat;
        color: #fff;
        text-align: center;
        margin-top: 5px;
        &__descr {
           p {
            font-size: 14px;
            font-weight: 400;
            margin: 0;
            padding: 0;
            max-width: 700px;
           }
        }
    }
    &-bgtitle {
        &__title {
            font-weight: 700;
            font-size: 24px;
            margin: 0;
            padding: 0;
        }
        &__stars {
            cursor: pointer;
        }
    }
    &-btn {
        background-color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 170px;
        color: #DD4A2D;
        border-radius: 24px;
        font-size: 24px;
        font-weight: 700;
    }
}

// feedback
.feedback {
    &-title {
        margin-bottom: 70px;
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text {
            color: #052941;
            font-size: 36px;
            font-weight: 600;
            margin: 0 5px;
            padding: 0;
            height: 40px;

        }
        &__img {
          height: 40px;
          transform: translateY(3px);
        }
        &__start{
            &_back {
                transform: translateY(3px) rotateY(180deg);
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px;
    }
    &-right {
       &_1 {
        background: url('../img/feedback__bg_1.jpg') center center / cover no-repeat;
       }
       &_2 {
        background: url('../img/feedback__bg_2.jpg') center center / cover no-repeat;
        order: 1;
       }
       position: relative;
       .triangle {
        &_1 {
        border: 42px solid transparent; 
        border-left: 42px solid #E9E9E9;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        }
        &_2 {
            border: 42px solid transparent; 
            border-right: 42px solid #E9E9E9;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
       }
    }
    &-left {
        background-color: #E9E9E9;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        &__icon {
            margin-right: 35px;
        }
        &__texttrim {
            font-size: 120px;
            font-weight: 400;
            margin: 0;
            padding: 0;
            line-height: 0;
            transform: translateY(40px);
        }
        &__textcontent {
            margin: 0;
            padding: 0;
            margin-top: 25px;
        }
        &__textauthor {
            padding: 0;
            margin: 0;
            color: #052941;
            font-size: 20px;
            font-weight: 700;
            padding-top: 20px;
        }
        &_2 {
            order: 2;
        }
    }
    margin-bottom: 200px;
}

.questions {
    height: 230px;
    margin-bottom: 10px;
    .container {
        height: 100%;
    }
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        color: #fff;
    }
    &__btn {
        background-color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 170px;
        color: #DD4A2D;
        border-radius: 24px;
        font-size: 24px;
        font-weight: 700;

        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
    }
    &__wrapper {
    background: url('../img/questions_bg.jpg') center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    }
}

// footer
.footer {
    height: 540px;
    background-color: #052941;
    color: #fff;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 100px 0;
    }
    &-contact {
        &__title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
        }
        &__link {
            display: flex;
            justify-content: center;
            a {
                text-decoration: none;
                margin: 0 8px;
            }
        }
    }
    &-hours {
        &__title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
        }
        &__section {
            margin: 10px 0;
            p{
                margin: 0;
                padding: 0;
                font-size: 14px;
            }
        }
    }
    &-details {
        &__title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;
        } 
        &__reply {
            a {
                text-decoration: none;
                color: white;
                font-size: 14px;
                margin-left: 10px;
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;
        }
    }
    &-copyright {
        border-top: 1px solid #fff;
        &__text {
            text-align: center;
            color: white;
            margin-top: 30px;
        }
    }
}

// support
.support {
    padding-top: 50px;
    border-bottom: 2px solid #E9E9E9;
    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 120px;
        padding-bottom: 10px;
    }
    &-form {
        background-color: #052941;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 470px;
        padding: 20px 15px 20px 15px;
        border-radius: 15px;
        &__input {
            width: 270px;
            height: 45px;
            padding: 0 20px;
            color:#BABABA;
            font-size: 12px;
            font-weight: 400;
            border-radius: 5px;
            margin: 12px 0;
            &:active {
                outline: 0;
                 outline-offset: 0;
            }  
            &:focus {
            outline: 0;
            outline-offset: 0;
        }     
            &:hover {
                outline: 0;
                outline-offset: 0;

            }
        }
        &__btn {
            background-color: #DD4A2D;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            font-weight: 700;
            font-size: 16px;
            width: 165px;
            height: 35px;
            border: none;
            outline-offset: 0;
        }
    }
    &-message {
        &__title {
            text-align: center;
            font-weight: 700;
            font-size: 24px;
        }
        &__subtitle {
            max-width: 270px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 15px;
        }
    }
}

// orange
.orange {
    padding: 120px 0;
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__icon {
            width: 100px;
            height: 100px;
            background-color: #DD4A2D;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            img {
                height: 55px;
                width: 55px;
            }
        }
        &__title {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 14px;
            color: #777777;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

// about
.about {
    &-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background: url('../img/career_bg.jpg') center center / cover no-repeat;
        h1 {
            margin: 0;
            padding: 0;
            color: white;
            font-size: 64px;
            font-weight: 700;
        }
    }
    &-one {
        padding-top: 50px;
        padding-bottom: 25px;
        &__title {
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__righttitle {
            transform: translateY(7px) rotateY(180deg);
        }
        &__texttitle {
            color: #052941;
            font-size: 36px;
            font-weight: 600;
            margin: 0 5px;
            padding: 0;
            height: 40px;

        }
        &__decor {
          height: 40px;
          transform: translateY(7px);
        } 
        &__text {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            width: 660px;
            margin: 0 auto;
        }
    }
    &-two {
        position: relative;
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__title {
            color: #052941;
            font-size: 36px;
            font-weight: 700;
            transform: translateX(-50px);
        }
        &__list {
            margin: 0;
            list-style-type: none;
             li {
                font-size: 14px;
                font-weight: 400;
                position: relative;
                margin: 25px 0;
                &:before {
                    content: '';
                    display: block;
                    background: url('../icons/checkMark.svg') center center / cover no-repeat;
                    width: 23px;
                    height: 23px;
                    position: absolute;
                    left: -30px;
                    top: -4px;
                }
             }
        }
        &__btn {
            background-color: #DD4A2D;
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            height: 35px;
            width: 165px;
            border-radius: 24px;
        }
        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        margin-bottom: 20px;

        .line {
            width: 120vw;
            height: 2px;
            background-color: 
            #E9E9E9;
            position: absolute;
            left: -120px;
        }
        .container {
            padding-bottom: 50px;
        }
    }
    &-three {
        padding-top: 80px;
        padding-bottom: 80px;
        &__title {
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            color: #052941;
        }
        &__list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            li {
                font-size: 16px;
                font-weight: 400;
                position: relative;
                margin: 15px 0;
                &:before {
                    content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    display: block;
                    position: absolute;
                    background-color: #DD4A2D;
                    width: 9px;
                    height: 9px;
                    border-radius: 100%;
                    left: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

// apply
.apply {
    padding-top: 45px;
    &__title {
        font-size: 36px;
        font-weight: 700;
        color: #052941;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        max-width: 700px;
    }
    &-form {
        &_driver {
            margin-top: 50px;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(2 ,1fr );
            column-gap: 50px;
            grid-template-rows: 530px;
        }
        .driver-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            &__text {
                height: 45px;
                padding: 0 20px;
                font-size: 12px;
                font-weight: 400;
                color: #303030;
                background-color: #E2E2E2;
                border: none;
                outline: 0;
                &:active {
                    outline: 0;
                    outline-offset: 0;
                }
                &:focus {
                    outline: 0;
                    outline-offset: 0;
                }
                &:hover {
                    outline: 0;
                    outline-offset: 0;
                }
            }
            &__select {
                display: block;
                height: 45px;
                padding: 0 20px;
                font-size: 12px;
                font-weight: 400;
                color: #303030;
                background: url('../icons/select_bg.svg') center right / cover no-repeat;
                border: none;
                outline: 0;
                appearance: none;
                position: relative;
            }
        }
        &__info {
            background-color: rgba(5, 41, 65, .92);
            color: #fff;
            padding: 50px;
        }
        &__submit {
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
            font-size: 24px;
            font-weight: 500;
            border-radius: 24px;
            width: 250px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            transition: .3s all linear;
            &:hover {
                background: #fff;
                color:rgba(5, 41, 65, .8);
            }
        }
        &_owner {
            .apply-form__info_operator {
                order: 1;
                background-color: rgba(221, 74, 45, .92);
                #operator-submit {
                    &:hover {
                        color: rgba(221, 74, 45, .92);
                    }
                }
            }
            .apply-form__typing {
                order: 2;
            }
        }
    }
    .apply-info {
        &__title {
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 45px;
        }
        &__list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 270px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li {
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                }
            }
        }
        &__btn {
            display: flex;
            justify-content: end;
            margin-top: 10px;
        }
    }

    .linespace {
        margin: 50px 0;
        &__line {
            height: 2px;
            width: 100%;
            background-color: #E9E9E9;
        }
    }
    &-footer {
        background: #000;
        color: #fff;
        padding: 25px 0;
        p {
            font-weight: 400;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
    }
}

// beteam
.beteam{
    height: 675px;
    margin-top: 75px;
    color: #fff;
    position: relative;
    .container {
        height: 100%;
    }
    &__wrapper {
        background-color: #052941;
        padding: 50px 0 65px 50px;
        height: 100%;
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 67px;
    }
    &-item {
        width: 380px;
        height: 80px;
        border: 1px solid #999999;
        padding: 20px 16px;
        margin-bottom: 50px;
        &__title {
            font-size: 12px;
            color: #999999;
            font-weight: 400;
        }
        &__info {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 80px;
        background-color: #DD4A2D;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        margin-left: 150px;
    }
    &-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 170px;
    }
    .offside {
        height: 480px;
        width: 630px;
        position: absolute;
        background: url('../img/drive_bg.jpg') center center / cover no-repeat;
        top: 160px;
        display: flex;
        justify-content: end;
        align-items: end;
        &-contact {
            display: flex;
            flex-direction: column;
            &__item {
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #DD4A2D;
                img {
                    width: 30px;
                    height: 30px;
                }
                &_line {
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}

//half ( non production )
// services ( non production )
// counting ( non production )
//TO BE ( non production )